.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width: 500px;
    margin-top: 2em;
    padding: 1em 2em;
    padding-bottom: 2em;
    border: 1px solid lightgray;
}

.container form {
    width: 100%;
}

.container button {
    width: 100%;
}

h1 {
    padding-bottom: 0.7em;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 4em;
}

.box {
    border: 1px solid lightgray;
    padding: 1em 5em
}

.cus {
    display: block;
    margin-top: 1em;
    width: 100%;
}

.logoutbtn {
    border: 0;
    padding: 0;
    margin-top: 1em;
    background-color: white;
    color: rgb(110, 196, 224)
}

.logoutbtn:hover {
    text-decoration: underline;
}